src/main/resources/ZMULE_CUSTOMER_GETLIST.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--

    Mule Anypoint Template

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
<xsd:element name="ZMULE_CUSTOMER_GETLIST">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="import" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="I_CUST_ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer for selection</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="I_FROM_DATE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date and time for FROM selection</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="export" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="E_RETURN" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="TYPE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ID" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Class</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NUMBER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Text</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: log number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOG_MSG_NO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Application log: Internal message serial number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MESSAGE_V4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Message Variable</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PARAMETER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Parameter Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ROW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Lines in parameter</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FIELD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Field in parameter</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SYSTEM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Logical system from which message originates</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>
<xsd:element name="tables" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:all>
<xsd:element name="T_KNA1" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="MANDT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Client</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KUNNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAND1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Country Key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NAME1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 1</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NAME2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 2</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ORT01" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>City</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTLZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Postal Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="REGIO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Region (State, Province, County)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SORTL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Sort field</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STRAS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>House number and street</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TELF1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>First telephone number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TELFX" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fax Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XCPDK" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Is the account a one-time account?</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ADRNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Address</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MCOD1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Search term for matchcode search</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MCOD2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Search Term for Matchcode Search</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MCOD3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Search term for matchcode search</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ANRED" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Title</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="AUFSD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central order block for customer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BAHNE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Express train station</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BAHNS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Train station</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BBBNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>International location number  (part 1)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BBSNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>International location number (Part 2)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BEGRU" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Authorization Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRSCH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BUBKZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Check digit for the international location number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DATLT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Data communication line no.</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERDAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date on which the Record Was Created</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ERNAM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name of Person who Created the Object</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EXABL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Unloading points exist</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FAKSD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central billing block for customer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FISKN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Account number of the master record with the fiscal address</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KNAZK" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Working Time Calendar</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KNRZA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Account number of an alternative payer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KONZS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Group key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KTOKD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer Account Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KUKLA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer Account Group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LIFNR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer classification</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LIFSD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Account Number of Vendor or Creditor</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOCCO" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central delivery block for the customer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LOEVM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>City Coordinates</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NAME3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central Deletion Flag for Master Record</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NAME4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 3</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NIELS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ORT02" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Nielsen ID</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PFACH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>District</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSTL2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>PO Box</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="COUNC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>P.O. Box Postal Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CITYC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>County Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="RPMKR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>City Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SPERR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Regional Market</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SPRAS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central posting block</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCD1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Language Key</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCD2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Number 1</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STKZA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Number 2</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STKZU" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Business Partner Subject to Equalization Tax?</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TELBX" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Liable for VAT</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TELF2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Telebox number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TELTX" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Second telephone number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TELX1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Teletex number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LZONE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Telex number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XZEMP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Transportation zone to or from which the goods are delivered</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="VBUND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Is an alternative payer allowed in document?</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCEG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>VAT Registration Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEAR1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Competitor</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEAR2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Sales partner</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEAR3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Sales prospect</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEAR4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator for customer type 4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEAR5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>ID for default sold-to party</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="GFORM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Legal status</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRAN1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry Code 1</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRAN2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry code 2</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRAN3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry code 3</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRAN4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry code 4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="BRAN5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Industry code 5</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="EKONT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Initial contact</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UMSAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Annual sales</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UMJAH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Year For Which Sales are Given</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UWAER" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Currency of sales figure</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="JMZAH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Yearly number of employees</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="JMJAH" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Year for which the number of employees is given</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 1</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 2</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 3</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 5</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR6" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 6</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR7" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 7</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR8" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 8</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR9" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 9</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KATR10" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Attribute 10</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STKZN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Natural Person</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UMSA1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Annual sales</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TXJCD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Jurisdiction</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PERIV" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fiscal Year Variant</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ABRVW" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Usage Indicator</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="INSPBYDEBI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Inspection Carried Out By Customer (No Inspection Lot)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="INSPATDEBI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Inspection for a Delivery Note After Outbound Delivery</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KTOCD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Reference Account Group for One-Time Account (Customer)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PFORT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>PO Box city</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="WERKS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Plant</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DTAMS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator for Data Medium Exchange</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DTAWS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Instruction key for data medium exchange</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DUEFL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Status of Data Transfer into Subsequent Release</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="HZUOR" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Assignment to Hierarchy</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="SPERZ" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Payment Block</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ETIKG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>IS-R Labeling: customer/plant group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CIVVE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>ID for mainly non-military use</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="MILVE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>ID for mainly military use</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KDKG1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer condition group 1</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KDKG2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer condition group 2</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KDKG3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer condition group 3</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KDKG4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer condition group 4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KDKG5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer condition group 5</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XKNZA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Alternative payer using account number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FITYP" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCDT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Number Type</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCD3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Number 3</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCD4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Number 4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="STCD5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax Number 5</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XICMS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer is ICMS-exempt</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XXIPI" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer is IPI-exempt</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="XSUBT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer group for Substituiçao Tributária calculation</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CFOPC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Customer's CFOP category</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TXLW1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax law: ICMS</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="TXLW2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Tax law: IPI</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CCC01" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator for biochemical warfare for legal control</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CCC02" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator for nuclear nonproliferation for legal control</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CCC03" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator for national security for legal control</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CCC04" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator for missile technology for legal control</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CASSD" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central sales block for customer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="KNURL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Uniform Resource Locator</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="J_1KFREPRE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name of Representative</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="J_1KFTBUS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Type of Business</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="J_1KFTIND" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Type of Industry</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CONFS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Status of Change Authorization (Central)</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UPDAT" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date on Which the Changes Were Confirmed</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UPTIM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Time of Last Change Confirmation</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="NODEL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Central deletion block for master record</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DEAR6" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Indicator: Consumer</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="ALC" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Agency Location Code</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PMT_OFFICE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Payment Office</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="FEE_SCHEDULE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Fee schedule</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DUNS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>DUNS Number</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="DUNS4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>DUNS+4</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOFG" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Processor group</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOIS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Subledger acct preprocessing procedure</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSON1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 1</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSON2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 2</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSON3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name 3</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOVN" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>First Name</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOTL" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Title</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOHS" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>House number: is no longer used from Release 4.6B</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOST" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Street: No longer used from Release 4.6B</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOO1" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Description</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOO2" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Description</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOO3" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Description</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOO4" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Description</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="PSOO5" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Description</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAEDA" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Date of Last Change</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="AENAM" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Name of Person Who Changed Object</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="UTIME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Time changed</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="CTIME" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Time of creation</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element>
<xsd:element name="LAST_MODIF_DATE" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation>Character representation of datetime YYYY-MM-DD HH:MM:SS:SSS</xsd:documentation></xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string"/></xsd:simpleContent></xsd:complexType></xsd:element></xsd:sequence>
<xsd:attribute name="id" type="xsd:integer" use="required"/></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:all></xsd:complexType></xsd:element>

<xsd:element name="exceptions" minOccurs="0" maxOccurs="1">
<xsd:complexType>
<xsd:sequence>

<xsd:element name="exception" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="key" type="xsd:string"/>
<xsd:attribute name="messageClass" type="xsd:string"/>
<xsd:attribute name="messageNumber" type="xsd:string"/>
<xsd:attribute name="messageType" type="xsd:string"/></xsd:extension></xsd:simpleContent></xsd:complexType></xsd:element>
</xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element>
</xsd:schema>