src/test/resources/ZMULE_CUSTOMER_GETLIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Mule Anypoint Template

    Copyright (c) MuleSoft, Inc.  All rights reserved.  http://www.mulesoft.com

-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ZMULE_CUSTOMER_GETLIST" type="ZMULE_CUSTOMER_GETLISTType"/>
  <xs:complexType name="importType">
    <xs:sequence>
      <xs:element type="xs:string" name="I_CUST_ID"/>
      <xs:element type="xs:dateTime" name="I_FROM_DATE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="E_RETURNType">
    <xs:sequence>
      <xs:element type="xs:string" name="TYPE"/>
      <xs:element type="xs:string" name="ID"/>
      <xs:element type="xs:byte" name="NUMBER"/>
      <xs:element type="xs:string" name="MESSAGE"/>
      <xs:element type="xs:string" name="LOG_NO"/>
      <xs:element type="xs:byte" name="LOG_MSG_NO"/>
      <xs:element type="xs:float" name="MESSAGE_V1"/>
      <xs:element type="xs:string" name="MESSAGE_V2"/>
      <xs:element type="xs:string" name="MESSAGE_V3"/>
      <xs:element type="xs:string" name="MESSAGE_V4"/>
      <xs:element type="xs:string" name="PARAMETER"/>
      <xs:element type="xs:byte" name="ROW"/>
      <xs:element type="xs:string" name="FIELD"/>
      <xs:element type="xs:string" name="SYSTEM"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="exportType">
    <xs:sequence>
      <xs:element type="E_RETURNType" name="E_RETURN"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rowType">
    <xs:sequence>
      <xs:element type="xs:short" name="MANDT"/>
      <xs:element type="xs:int" name="KUNNR"/>
      <xs:element type="xs:string" name="LAND1"/>
      <xs:element type="xs:string" name="NAME1"/>
      <xs:element type="xs:string" name="NAME2"/>
      <xs:element type="xs:string" name="ORT01"/>
      <xs:element type="xs:string" name="PSTLZ"/>
      <xs:element type="xs:string" name="REGIO"/>
      <xs:element type="xs:string" name="SORTL"/>
      <xs:element type="xs:string" name="STRAS"/>
      <xs:element type="xs:string" name="TELF1"/>
      <xs:element type="xs:string" name="TELFX"/>
      <xs:element type="xs:string" name="XCPDK"/>
      <xs:element type="xs:int" name="ADRNR"/>
      <xs:element type="xs:string" name="MCOD1"/>
      <xs:element type="xs:string" name="MCOD2"/>
      <xs:element type="xs:string" name="MCOD3"/>
      <xs:element type="xs:string" name="ANRED"/>
      <xs:element type="xs:string" name="AUFSD"/>
      <xs:element type="xs:string" name="BAHNE"/>
      <xs:element type="xs:string" name="BAHNS"/>
      <xs:element type="xs:byte" name="BBBNR"/>
      <xs:element type="xs:byte" name="BBSNR"/>
      <xs:element type="xs:string" name="BEGRU"/>
      <xs:element type="xs:string" name="BRSCH"/>
      <xs:element type="xs:byte" name="BUBKZ"/>
      <xs:element type="xs:string" name="DATLT"/>
      <xs:element type="xs:date" name="ERDAT"/>
      <xs:element type="xs:string" name="ERNAM"/>
      <xs:element type="xs:string" name="EXABL"/>
      <xs:element type="xs:string" name="FAKSD"/>
      <xs:element type="xs:string" name="FISKN"/>
      <xs:element type="xs:string" name="KNAZK"/>
      <xs:element type="xs:string" name="KNRZA"/>
      <xs:element type="xs:string" name="KONZS"/>
      <xs:element type="xs:string" name="KTOKD"/>
      <xs:element type="xs:string" name="KUKLA"/>
      <xs:element type="xs:string" name="LIFNR"/>
      <xs:element type="xs:string" name="LIFSD"/>
      <xs:element type="xs:string" name="LOCCO"/>
      <xs:element type="xs:string" name="LOEVM"/>
      <xs:element type="xs:string" name="NAME3"/>
      <xs:element type="xs:string" name="NAME4"/>
      <xs:element type="xs:string" name="NIELS"/>
      <xs:element type="xs:string" name="ORT02"/>
      <xs:element type="xs:string" name="PFACH"/>
      <xs:element type="xs:string" name="PSTL2"/>
      <xs:element type="xs:string" name="COUNC"/>
      <xs:element type="xs:string" name="CITYC"/>
      <xs:element type="xs:string" name="RPMKR"/>
      <xs:element type="xs:string" name="SPERR"/>
      <xs:element type="xs:string" name="SPRAS"/>
      <xs:element type="xs:string" name="STCD1"/>
      <xs:element type="xs:string" name="STCD2"/>
      <xs:element type="xs:string" name="STKZA"/>
      <xs:element type="xs:string" name="STKZU"/>
      <xs:element type="xs:string" name="TELBX"/>
      <xs:element type="xs:string" name="TELF2"/>
      <xs:element type="xs:string" name="TELTX"/>
      <xs:element type="xs:string" name="TELX1"/>
      <xs:element type="xs:string" name="LZONE"/>
      <xs:element type="xs:string" name="XZEMP"/>
      <xs:element type="xs:string" name="VBUND"/>
      <xs:element type="xs:string" name="STCEG"/>
      <xs:element type="xs:string" name="DEAR1"/>
      <xs:element type="xs:string" name="DEAR2"/>
      <xs:element type="xs:string" name="DEAR3"/>
      <xs:element type="xs:string" name="DEAR4"/>
      <xs:element type="xs:string" name="DEAR5"/>
      <xs:element type="xs:string" name="GFORM"/>
      <xs:element type="xs:string" name="BRAN1"/>
      <xs:element type="xs:string" name="BRAN2"/>
      <xs:element type="xs:string" name="BRAN3"/>
      <xs:element type="xs:string" name="BRAN4"/>
      <xs:element type="xs:string" name="BRAN5"/>
      <xs:element type="xs:string" name="EKONT"/>
      <xs:element type="xs:float" name="UMSAT"/>
      <xs:element type="xs:byte" name="UMJAH"/>
      <xs:element type="xs:string" name="UWAER"/>
      <xs:element type="xs:byte" name="JMZAH"/>
      <xs:element type="xs:byte" name="JMJAH"/>
      <xs:element type="xs:string" name="KATR1"/>
      <xs:element type="xs:string" name="KATR2"/>
      <xs:element type="xs:string" name="KATR3"/>
      <xs:element type="xs:string" name="KATR4"/>
      <xs:element type="xs:string" name="KATR5"/>
      <xs:element type="xs:string" name="KATR6"/>
      <xs:element type="xs:string" name="KATR7"/>
      <xs:element type="xs:string" name="KATR8"/>
      <xs:element type="xs:string" name="KATR9"/>
      <xs:element type="xs:string" name="KATR10"/>
      <xs:element type="xs:string" name="STKZN"/>
      <xs:element type="xs:float" name="UMSA1"/>
      <xs:element type="xs:string" name="TXJCD"/>
      <xs:element type="xs:string" name="PERIV"/>
      <xs:element type="xs:string" name="ABRVW"/>
      <xs:element type="xs:string" name="INSPBYDEBI"/>
      <xs:element type="xs:string" name="INSPATDEBI"/>
      <xs:element type="xs:string" name="KTOCD"/>
      <xs:element type="xs:string" name="PFORT"/>
      <xs:element type="xs:string" name="WERKS"/>
      <xs:element type="xs:string" name="DTAMS"/>
      <xs:element type="xs:string" name="DTAWS"/>
      <xs:element type="xs:string" name="DUEFL"/>
      <xs:element type="xs:byte" name="HZUOR"/>
      <xs:element type="xs:string" name="SPERZ"/>
      <xs:element type="xs:string" name="ETIKG"/>
      <xs:element type="xs:string" name="CIVVE"/>
      <xs:element type="xs:string" name="MILVE"/>
      <xs:element type="xs:string" name="KDKG1"/>
      <xs:element type="xs:string" name="KDKG2"/>
      <xs:element type="xs:string" name="KDKG3"/>
      <xs:element type="xs:string" name="KDKG4"/>
      <xs:element type="xs:string" name="KDKG5"/>
      <xs:element type="xs:string" name="XKNZA"/>
      <xs:element type="xs:string" name="FITYP"/>
      <xs:element type="xs:string" name="STCDT"/>
      <xs:element type="xs:string" name="STCD3"/>
      <xs:element type="xs:string" name="STCD4"/>
      <xs:element type="xs:string" name="STCD5"/>
      <xs:element type="xs:string" name="XICMS"/>
      <xs:element type="xs:string" name="XXIPI"/>
      <xs:element type="xs:string" name="XSUBT"/>
      <xs:element type="xs:string" name="CFOPC"/>
      <xs:element type="xs:string" name="TXLW1"/>
      <xs:element type="xs:string" name="TXLW2"/>
      <xs:element type="xs:string" name="CCC01"/>
      <xs:element type="xs:string" name="CCC02"/>
      <xs:element type="xs:string" name="CCC03"/>
      <xs:element type="xs:string" name="CCC04"/>
      <xs:element type="xs:string" name="CASSD"/>
      <xs:element type="xs:string" name="KNURL"/>
      <xs:element type="xs:string" name="J_1KFREPRE"/>
      <xs:element type="xs:string" name="J_1KFTBUS"/>
      <xs:element type="xs:string" name="J_1KFTIND"/>
      <xs:element type="xs:string" name="CONFS"/>
      <xs:element type="xs:string" name="UPDAT"/>
      <xs:element type="xs:time" name="UPTIM"/>
      <xs:element type="xs:string" name="NODEL"/>
      <xs:element type="xs:string" name="DEAR6"/>
      <xs:element type="xs:string" name="ALC"/>
      <xs:element type="xs:string" name="PMT_OFFICE"/>
      <xs:element type="xs:string" name="FEE_SCHEDULE"/>
      <xs:element type="xs:string" name="DUNS"/>
      <xs:element type="xs:string" name="DUNS4"/>
      <xs:element type="xs:string" name="PSOFG"/>
      <xs:element type="xs:string" name="PSOIS"/>
      <xs:element type="xs:string" name="PSON1"/>
      <xs:element type="xs:string" name="PSON2"/>
      <xs:element type="xs:string" name="PSON3"/>
      <xs:element type="xs:string" name="PSOVN"/>
      <xs:element type="xs:string" name="PSOTL"/>
      <xs:element type="xs:string" name="PSOHS"/>
      <xs:element type="xs:string" name="PSOST"/>
      <xs:element type="xs:string" name="PSOO1"/>
      <xs:element type="xs:string" name="PSOO2"/>
      <xs:element type="xs:string" name="PSOO3"/>
      <xs:element type="xs:string" name="PSOO4"/>
      <xs:element type="xs:string" name="PSOO5"/>
      <xs:element type="xs:string" name="LAEDA"/>
      <xs:element type="xs:string" name="AENAM"/>
      <xs:element type="xs:time" name="UTIME"/>
      <xs:element type="xs:time" name="CTIME"/>
      <xs:element type="xs:dateTime" name="LAST_MODIF_DATE"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="id"/>
  </xs:complexType>
  <xs:complexType name="T_KNA1Type">
    <xs:sequence>
      <xs:element type="rowType" name="row"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tablesType">
    <xs:sequence>
      <xs:element type="T_KNA1Type" name="T_KNA1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZMULE_CUSTOMER_GETLISTType">
    <xs:sequence>
      <xs:element type="importType" name="import"/>
      <xs:element type="exportType" name="export"/>
      <xs:element type="tablesType" name="tables"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>